<!DOCTYPE html>
<html>
<head>
    <title>Add Alert - Lathe {{ lathe_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lathe.css') }}">
</head>
<body>
    <div class="alert-form-container">
    <h2>Create Alert for {{ machine_id }}</h2>
    <form method="POST" action="{{ url_for('handle_alert', machine_id=machine_id) }}">
        {{ alert_form.hidden_tag() }}
        <div class="form-group">
            {{ alert_form.message.label }}
            {{ alert_form.message(class="form-control") }}
        </div>
        <button type="submit" class="btn-alert">Create Alert</button>
    </form>
</div>

</body>
</html>
