<!DOCTYPE html>
<html>
<head>
    <title>Login | Digital Twin System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <img src="{{ url_for('static', filename='lathe-icon.png') }}" alt="Lathe Icon">
        <h2>Predictive Maintenance System</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.userID(placeholder="User ID", type="text") }}
            {{ form.password(placeholder="Password", type="password") }}
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
